body {
    margin: 0;
    font-family: sans-serif;
    background: white;
}

.product {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    background: blue;
}